<%- include("./partials/header.ejs",{css : "/css/index.css"})%>
<main>
   
    <section class="products">
        <% for (i=0; i< products.length; i++){ %>
        <article>
            <a href="/products/<%= products[i].id%>"><img src="/images/productos/<%= products[i].image %>" alt=""></a>
            <div class="main-article">
                <p class="price">$ <%= products[i].price%></p>
                <p class="discount"> TALLE <%= products[i].size%></p>
                <h4 class="description"> <%= products[i].name%></h4>
            </div>
        </article>   
        <%}%>  
    </section>
 
    
        <div class="contenedor">
            <div class="fila">
                <div class="small">
                    <a href="#"><img src="/images/categorias/cat-rock2.jpg" alt="Categoria Rock"></a>
                    <a class="centrado" href="#"> Rock</a>
                </div>
                <div class="small">
                    <a href=""><img src="/images/categorias/cat-peliculas2.jpg" alt="Categoria Rock"></a>
                    <a class="centrado" href="#"> Peliculas y Series</a>
                </div>

            </div>
        </div>
    </main>
    <div class="iconos-envios">
        <section>
            <i class="lni lni-credit-cards"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>En nuestra tienda, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <i class="lni lni-delivery"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Nuestra tienda tenés envíos gratis en miles de productos.
            </p>
        </section>
        <section>
            <i class="lni lni-shopify"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Nicotine, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>


    </div>
    <%-include("./partials/footer")%>